<head th:replace="/includes/head :: head (title = 'New Categor' )" xmlns:th="http://www.w3.org/1999/xhtml"/>
<h2 class="text-center">Users</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Delete</th>
    </tr>
    <tr th:each = "user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.address}"></td>
        <td><a th:href="@{'/admin/deleteUser/' + ${user.id}}">Delete</a></td>

    </tr>
</table>
<head th:replace="/includes/footer :: footer" xmlns:th="http://www.w3.org/1999/xhtml"/>
