@charset "utf-8";
/* CSS Document */

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    background-color: #066BA3;



}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right:1rem;
    padding-left: 1rem;
    color: #FFF;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left:0;
    margin-bottom: 0;
    list-style: none;

}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;


}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

ul {
    list-style: none;
    width:100%;
}

li {
    display: inline-block;
    width:12.5%;
    text-align:center;
    border-right-width: 0.15mm;
    border-left-width: .15mm;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #eee;
    border-left-color: #eee;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin-right: 1px;
}

@media (max-width:576px) {

    ul {
        list-style: none;
        width:100%;
    }

    li {
        display: inline-block;
        width:100%;
        padding:0;
        text-align:center;
        border-right-width: thin;
        border-left-width: thin;
        border-right-style: solid;
        border-left-style: solid;
        border-right-color: #CCC;
        border-left-color: #CCC;
    }


}



.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
    color:#FFF;
    border-color: #FFF;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235, 235, 235, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    font-weight: normal;
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:focus, .navbar-light .navbar-text a:hover {
    color: rgba(0, 0, 0, 0.9);
}

#div_top_hypers {
    background-color:#eeeeee;
    display:inline;
}
#ul_top_hypers li{
    display: inline;
}





* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 710px;
    width: 100%;
    text-align: center;
    padding: 0px 0px;
    line-height: 1.4;
}

.notfound .notfound-404 {
    height: 200px;
    line-height: 200px;
}

.notfound .notfound-404 h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 168px;
    margin: 0px;
    color: #ff508e;
    text-transform: uppercase;
}

.notfound h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222;
    margin: 0;
}

.notfound-search {
    position: relative;
    padding-right: 123px;
    max-width: 420px;
    width: 100%;
    margin: 30px auto 22px;
}

.notfound-search input {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 40px;
    padding: 3px 15px;
    color: #222;
    font-size: 18px;
    background: #f8fafb;
    border: 1px solid rgba(34, 34, 34, 0.2);
    border-radius: 3px;
}

.notfound-search button {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 120px;
    height: 40px;
    text-align: center;
    border: none;
    background: #ff508e;
    cursor: pointer;
    padding: 0;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
}

.notfound a {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-weight: 700;
    border-radius: 15px;
    text-decoration: none;
    color: #39b1cb;
}

.notfound a>.arrow {

    position: relative;
    top: -2px;
    border: solid #39b1cb;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

@media only screen and (max-width: 76px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }
    .notfound .notfound-404 h1 {
        font-size: 122px;
    }
}

.category_table {
    width: 100%;
    background-color: slategrey;
    overflow: auto;
    font-weight: bold;
    border-collapse: collapse;

}

.category_table td {

    padding: 12px;
    color: #505050;
    text-decoration: none;
    font-weight: bolder;
    font-size: 17px;
    width: 15%;
    text-align: center;
    background-color: #f1f1f1;
}

.category_table td a{
    color: #505050;
    font-weight: bolder;
}

.category_table  td.new {
    background-color: #94618E;;
    font-weight: bolder;
}
.category_table  td.new a {
    color: white !important;
}

.category_table  td:hover {
    background-color: #FBEEC2;
}

.category_table td:active {
    background-color: #BC986A;
}
.category_input input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.category_input [type=text]:focus {
    border: 3px solid #555;
}

.category_div {
    background-color: #f1f1f1;
}
.background-orange{
    background-color:chocolate;
}
#nav1
{
    opacity: 0.5;
}
#nav1 a{
    color: white;
    border:0 !important;
}
#nav1 li{
    border: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
body {
    background: url( bk.png);
}
h1 {
    text-shadow: 1px 1px 1px #ccc;
}
.div-that-you want-to-stand-out {
    box-shadow: 0 0 1em 1em #ccc;
}
.none{
    opacity: 0.0;
}
.welcome-btn{
    width:100% !important;
}
