.background-orange{
    background-color:chocolate;
}
body{
}
li {
    border-left-color: rgb(33, 37, 41);
    border-right-color: rgb(33, 37, 41);
}
#nav1
{
    background-color:saddlebrown;
    opacity: 0.5;
}
#nav1 a{
    color: white;
}
.skyblue{
    color:#659DBD;
}
.skyblueb{
    background-color:#659DBD;
}
.lightbrown{
    color:#FBEEC1;
}
.lightbrownb{
    background-color:#FBEEC1;
}
.darkbrown{
   color:saddlebrown;
}
.darkbrownb{

    background-color:saddlebrown;
}
.brown{

    color:#DAAD86;
}
.brownb{
    background-color:#DAAD86;
}
.green{
   color:#8D8741;
}
.greeb{
   background-color:#8D8741;
}

