<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<title>Item Manager</title>
<body>


<table>
    <thead>
    <tr>
        <th>Item Id</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Highest price</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="approvedItem: ${listOfApprovedItems}">
        <td th:text="${approvedItem.approved_item_id}"></td>
        <td th:text="${approvedItem.start_date}"></td>
        <td th:text="${approvedItem.end_date}"></td>
        <td th:text="${approvedItem.highest_price}"></td>

        <td>

            <a th:href="@{'/edit_approved_item/' + ${approvedItem.approved_item_id}}">Edit</a> &nbsp;&nbsp;&nbsp;&nbsp;


            <a th:href="@{'/delete_approved_item/' + ${approvedItem.approved_item_id}}">Delete</a>
        </td>

    </tr>
    </tbody>

</table>

</body>
</html>