
<head th:replace="/includes/head :: head (title = 'Categories' )" xmlns:th="http://www.w3.org/1999/xhtml"/>
<div class="container" >
    <div class="shellb round mx-5">
    <div class="row text-center mt-3 round">
        <div class="col-md-2"></div>
        <div class="col-sm-8 mt-2">
        <h2  th:text="${name}"></h2>
            <h4 th:text="${category}"></h4>
        </div>
        <div class="col-sm-2 mt-2">
            <div th:if="${follow}==false">
                <a th:href="@{/follow/{id}(id=${item_id})}" class="btn btn-primary btn-lg active"> FOLLOW </a>
            </div>
            <div th:if="${follow}==true">
                <span class="grape">Following</span>
            </div>
        </div>
    </div>
    <div class="row mx-2 py-3 round">
        <div class="col-sm-4">
            <p> Seller: <b><span th:text="${seller}"> </span></b> </p>
            <p> Reservation price:<b> <span th:text="${reservation_price}"> </span></b> </p>
            <p> Evaluation price: <b><span th:text="${evaluation_price}">  </span></b> </p>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" th:src="@{'data:image/'+${image.type}+';base64,'+${image.data}}" height="300px">
        </div>
        <div class="col-sm-4">
            <p> Description: </p>
                <b><span th:text="${description}"></span></b>
            </div>

        </div>
    <div class=" text-center">
        <div th:if="${bid_state}==-1">
            <p> The auction will begin on <b><span th:text="${start_date}"> </span></b></p>
        </br>
            <p> And end on <b><span th:text="${end_date}"> </span></b></p>
            <p> Starting price is <b><span th:text="${reservation_price}"></span></b></p>
        </div>
        <div  th:if="${bid_state}==0">

            <p> Current highest bid is: <b><span th:text="${highest_bid}"></span></b></p>
            </br>
            <p> Bid is given by user : <b><span th:text="${highest_bidder}"> </span> </b></p>
            </br>
            <p> Bidding is open until <b><span th:text="${start_date}"></span></b></p>
            <form method="POST" th:action="@{'/bid_item/' + ${item_id}}"  th:object="${bid_form}" modelAttribute="bid_form">
            <p> Input your offer</p>
            <input type="number" th:field="*{new_offer}" th:min="${highest_bid}" th:max="${max_amount}" class="mb-2" th:required="required" autofocus="true" th:disabled="${highest_bid>=max_amount}? true: false"/>
                <p th:if="${highest_bid>=max_amount}">You don't have sufficient funds.</p>
            </br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
        </div>
        <div th:if="${bid_state}==1">
            <p> The auction has ended. The winner is <b><span th:text="${highest_bidder}"></span></b> </p>
            <p> Item was sold for <b>$<span th:text="${highest_bid}"> </span></b></p>
        </div>
    </div>

    </div>
</div>
</div>
<head th:replace="/includes/footer :: footer" xmlns:th="http://www.w3.org/1999/xhtml"/>
