
<head th:replace="/includes/head :: head (title = 'Sign up' )" xmlns:th="http://www.w3.org/1999/xhtml"/>
<div class="container">
<div align="center">


    <!-- create a table which displays a list of categories -->
    <table border="1" class="category_table">
        <tr th:each="category : ${listCategories}">        <!-- iterates through the collection of categories -->
            <td th:text="${category.category_name}">       <!-- value for the column -->
                Category
            </td>

            <!-- actions column -->
            <td>
                <a   th:href="@{'/edit_category/' + ${category.id}}"> Edit </a>   <!-- hyperlink for the edit action, specifies the URL -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <a  th:href="@{'/delete_category/' + ${category.id}}"> Delete </a>
            </td>

        </tr>
        <tr> <td class="new" colspan="2"> <a  href ="/new_category"> + Add new category  </a> </td></tr>
    </table>
</div>
</div>
</body>
</html>
