
<head th:replace="/includes/head :: head (title = 'Sign up' )" xmlns:th="http://www.w3.org/1999/xhtml"/>
<div align="center">
    <h1>Approve New Item</h1>
    <br />

    <form action="#" th:action="@{/save_approved_item}" th:object="${approvedItem}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Item  Id:</td>
                <td><input type="text"  th:field="*{approved_item_id}"readonly /></td>
            </tr>




            <tr>
                <td>Start date:</td>
                <td>
                   <input type="date" th:field="*{start_date}" required/>
                </td>
            </tr>
            <tr>
                <td>End date:</td>
                <td>
                    <input type="date" th:field="*{end_date}" required/>
                </td>
            </tr>

<!--            <tr>-->
<!--                <td>Description:</td>-->
<!--                <td><input type="number" th:field="${approvedItem.highest}" /></td>-->
<!--            </tr>-->
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>