<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Create an account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
</head>
<body>
<div class="container">

    <span style="color:red" th:text="*{errors}"></span>
    <form method="POST" modelAttribute="userForm" th:action="@{/registration}" th:object="${userForm}"  class="form-signin">
        <h1> SIGN UP </h1>
        <div class="form">
            <label> Username </label>
            <input type="text" th:field="*{username}" class="form-control" placeholder="Username" th:required="required" autofocus="true"/>
        </div>

        <div class="form">

            <label> Password</label>
            <input type="password" th:field="*{password}" class="form-control" th:required="required" placeholder="Password"/>

        </div>

        <div class="form">
            <label> Confirm Password</label>
            <input type="password" th:field="*{passwordConfirm}" th:required="required" class="form-control" placeholder="Confirm your password"/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

</div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
